<!-- <!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content }}
  </body>
</html> -->
<title>Skyenet Blog</title>
    {% include styling.html %}
    <div class="container">
    <div class="preview">
        <title>{{page.title}}</title>
    <p> {{content}} </p>
    </div>
    </div>

    {% include header.html %}